<div class="Accueil"> Accueil </div>
                                  <div class="tab">
                                      <a href="{{ path('app_home') }}" class="tab_1"> Notre Projet</a>
                                      <a href="{{ path('NotreEquipe') }}" class="tab_1"> Notre Equipe</a>
                                      <a href="{{ path('NousContacter') }}" class="tab_1"> Nous Contacter</a>
                                  </div>
                                      <div class="main2_body">
                                          <p>Notre équipe est composée de trois étudiants en troisième année de Licence Informatique à la Faculté des Sciences et Techniques de TOURS.
                                          Nous profitons de l'opportunité d'un projet de groupe mit en place en cours de Developpement Web, pour réaliser une idée de projet personnel qui nous tient particulièrement à cœur. </p>
                                          <img src="img/Team success _Monochromatic.png">
                                      </div> 