 <div class="Accueil"> Accueil </div>
                                  <div class="tab">
                                      <a href="{{ path('app_home') }}" class="tab_1"> Notre Projet</a>
                                      <a href="{{ path('NotreEquipe') }}" class="tab_1"> Notre Equipe</a>
                                      <a href="{{ path('NousContacter') }}" class="tab_1"> Nous Contacter</a>
                                  </div>
                                      <div class="main2_body">
                                          <p class="reveal-1"> Vous rencontrez un problème ? Ou souhaitez tout simplement nous contacter ?<br>
                                          Nous serions heureux d'intéragir avec vous !</p>
                                          <img class="reveal-2"src="img/Customer service_Monochromatic.png">
                                      </div> 
                                      <div class='contact'>
                                        <a href="mailto:foodsens37000@gmail.com?subject=Food Sens 👨‍🍳"><button class="login  reveal-3">Nous Contacter</button></a>
                                      </div> 