{% extends 'base.html.twig' %}

 {% block stylesheets %}
            <link href="/css/nav1.css" rel="stylesheet" type="text/css"/>
        {% endblock %}

{% block body %}
<html>
<body>
    <div class="Title">
    <a href="{{ path('app_home')}}">Food Sens</a>
    {% if app.user and  'ROLE_ADMIN' in app.user.roles %}
    <a class="admin"href="{{ path('admin')}}">admin</a>
    {% endif %}
    </div>

</html>
</body>
{% endblock %}

