
.intro{
    font-size: 2.5vh;
    padding: 3vh;
}
.intro2{
    font-size: 1.5vh;
    padding: 3vh;
    padding-left: 4vh;
    color: grey;
    margin-top: -7vh;
}

/* LOGIN BOX*/
.profile{
    position: relative;
    font-size: 4.5vh;
    text-align: center;
    padding-top: 2vh;
    
}
.login_box{
    text-align: center;
    display: flex;
    padding-left: 4vw;  
}
.login{
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5vh 0.5vw;
    background-color: transparent;
    font-family: 'Poppins';  
    font-size: 1.5vh;
}
.login a{
    text-decoration: none;
    color: black;
    font-size: 1.5vh;
}
.login_box button{
   margin-right: 2vw;
   width: 7vw;
   height: 4vh;
   font-size: 1.5vh;
}

.login:hover{
    color: white;
    background-color: black;
}

/*LOG OUT BOX */
.logout{
    font-size: 2vh;
    top: -2vh;
    width: 100%;
}



.logout a{
    text-decoration: none;
    position: relative;
    color: black;
   
    height: 5vh;
    float: right;
    margin-right: 1vw;
}
.logout button{
    width: 8vw;
}
.logout_a{
   position: relative; top: 8vh;left: -5vh;
}
.logout_p{
    position: relative;
   width: 100%;
   
}

.profile_picture{
    position: relative;
    top: -5vh;left:-5vw;
    height:7vh;
    width: 7vh;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block; 
  }
.profile_picture img{
    height:7vh;
    width: 7vh;
    border-radius: 50%;
}