
.intro{
    font-size: 2.5vh;
    padding: 3vh;
}
.intro2{
    font-size: 1.5vh;
    padding: 3vh;
    padding-left: 4vh;
    color: grey;
    margin-top: -7vh;
}

/* LOGIN BOX*/
.profile{
    position: relative;
    font-size: 4.5vh;
    text-align: center;
    padding-top: 2vh;
}
.login_box{
    text-align: center;
    display: flex;
    padding-left: 4vw;  
}
.login{
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5vh 0.5vw;
    margin-right: 2vw;
    background-color: transparent;
    font-family: 'Poppins';
    
}
.login a{
    text-decoration: none;
    color: black;
    font-size: 1.5vh;
}

.login:hover{
    color: white;
    background-color: black;
}

/*LOG OUT BOX */
.logout{
    padding: 4vh;
    display: flex;
    font-size: 2vh;
}

.logout a{
    text-decoration: none;
    color: black;
}
.logout p{
    
}
.logout_btn{
    font-size: 1.5vh;
    border: 2px solid black;
    border-radius: 10px;
    height: 2vh;
    padding: 0.5vh;
    margin-top: 10px;margin-left: 1.5vw;
}