
.intro{
    font-size: 3vh;
    padding: 3vh;
}
.intro2{
    font-size: 1.5vh;
    padding: 3vh;
    padding-left: 4vh;
    color: grey;
    margin-top: -7vh;
}

/* LOGIN BOX*/
.login_box{
    display: flex;
    padding-left: 4vw;
    
}
.login{
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5vh 0.5vw;
    margin-right: 2vw;
    
}
.login a{
    text-decoration: none;
    color: black;
    font-size: 1.5vh;
}

/*LOG OUT BOX */
.logout{
    padding: 4vh;
    display: flex;
    font-size: 2vh;
}

.logout a{
    text-decoration: none;
    color: black;
}
.logout p{
    margin-top: 1vh;
}
.logout_btn{
    font-size: 1.5vh;
    border: 2px solid black;
    border-radius: 10px;
    height: 2vh;
    padding: 0.5vh;
    margin-top: 10px;margin-left: 1.5vw;
}