 h1{
    text-align: center;
}
.recipe img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe p{
    padding-left:2vw;
}
.recipe li{
    padding-left:2vw;
    padding-top: 2VH;
}

.recipe a:hover{
    color: blue;
}
.recipe .admin{
    padding-left: 2vw;
}