*{
   /*border: 1px solid red;*/
}

body{
   /* background: linear-gradient(70deg,#FEA9EB, #1DEDE0);*/

width: 100vw;
max-width: fit-content;
height: 100vh;
background: linear-gradient(180deg, rgba(29, 237, 224, 0.2) 0%, rgba(29, 237, 224, 0) 100%), linear-gradient(105.4deg, #FEA9EB 9.39%, rgba(254, 169, 235, 0) 88.19%);
font-family: 'Poppins';
}


/*BUBBLES */
.blue_bubble{
   position: absolute;
   width: 18vh;
   height: 18vh;
   left: 88vw;
   top: 2vh;
   border-radius: 50%;
   background: #2063E3;
   }

.blue_bubble_blur{     
   position: absolute;
   width: 18vh;
   height: 18vh;
   left: 88vw;
   top: 2vh;
   border-radius: 50%;
   box-shadow: inset 11.1333px -11.1333px 11.1333px rgba(185, 161, 35, 0.194), inset -11.1333px 11.1333px 11.1333px rgba(255, 255, 255, 0.194);
   backdrop-filter: blur(20.4853px);
   opacity: 0.7;
}
.yellow_bubble{
   position: absolute;
   width: 18vh;
   height: 18vh;
   left: 50vw;
   top: 80vh;
   border-radius: 50%;
   background: #F3D42F;
}
.yellow_bubble_blur{
   position: absolute;
   width: 18vh;
   height: 18vh;
   left: 50vw;
   top: 80vh;
   border-radius: 50%;
   box-shadow: inset 11.1333px -11.1333px 11.1333px rgba(185, 161, 35, 0.194), inset -11.1333px 11.1333px 11.1333px rgba(255, 255, 255, 0.194);
   backdrop-filter: blur(20.4853px);
}
.white_bubble1{
position: absolute;
width: 10vh;
height: 10vh;
left: 7vw;
top: 3vh;
border-radius: 50%;
background: #FFFFFF;
}
.white_bubble1_blur{
position: absolute;
width: 10vh;
height: 10vh;
left: 7vw;
top: 3vh;
border-radius: 50%;
box-shadow: inset 9.2px -9.2px 9.2px rgba(194, 194, 194, 0.153), inset -9.2px 9.2px 9.2px rgba(255, 255, 255, 0.153);
backdrop-filter: blur(6.256px);
}
.white_bubble2{
position: absolute;
width: 3vh;
height: 3vh;
left: 12vw;
top: 2vh;
border-radius: 50%;
background: #FFFFFF;
}
.white_bubble2_blur{
position: absolute;
width: 3vh;
height: 3vh;
left: 12vw;
top: 2vh;
border-radius: 50%;
box-shadow: inset 3.26667px -3.26667px 3.26667px rgba(194, 194, 194, 0.189), inset -3.26667px 3.26667px 3.26667px rgba(255, 255, 255, 0.189);
backdrop-filter: blur(5.55333px);
}
.white_bubble3{
position: absolute;
width: 3vh;
height: 3vh;
left: 2vw;
top: 94vh;
border-radius: 50%;
background: #FFFFFF;
}
.white_bubble3_blur{
position: absolute;
width: 3vh;
height: 3vh;
left: 2vw;
top: 94vh;
border-radius: 50%;
box-shadow: inset 3.26667px -3.26667px 3.26667px rgba(194, 194, 194, 0.189), inset -3.26667px 3.26667px 3.26667px rgba(255, 255, 255, 0.189);
backdrop-filter: blur(5.55333px);
}
/*END BUBBLES */

/*MAIN 3*/
.main3{
position: absolute;
width: 90vw;
height: 84vh;
left: 5vw;
right: 5vw;
top: 7vh;
background: rgba(255, 255, 255, 0.3);
opacity: 0.95;
box-shadow: inset 83px -83px 83px rgba(194, 194, 194, 0.2), inset -83px 83px 83px rgba(255, 255, 255, 0.2);
backdrop-filter: blur(100px);
border-radius: 12px;
}

/*MAIN 1*/
.main1{
position: absolute;
width: 18vw;
height: 84vh;
background: #FFFFFF;
border-radius: 12px 0px 0px 12px;
}
.main1 button{
   color: #BFBFBF;
   background-color: transparent;
   border-color: #BFBFBF;
   border-radius: 12px;
   font-family: 'Poppins';   
   cursor: pointer;
   font-size: 2vh;
   border-style: solid; 
   width: 15vw;   
}

.main1 button:hover{
  background-color: #bfbfbf;
  color: white;
  border-color: #BFBFBF;
}
.main1 button{
   margin-bottom: 3vh;
}
.menu{
   position: absolute;
   top: 20vh;left: 1.5vw;
}

.menu .child{
width: 14vw;
height: 3vh;
font-family: 'Poppins';
font-size: 2vh;
color: #BFBFBF;
padding: 1vh;

margin-bottom: 3vh;

border: 2px solid #BFBFBF;
border-radius: 12px;
}

.menu .logo{
width: 31px;
height: 31px;
float: left;
}




 

/*MAIN 2*/
.main2{
position: absolute;
width: 50vw;
height: 84vh;
left: 18vw;
background:rgba(255, 255, 255, 0.5);


}

