{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1></h1>
    {{ include('base/nav.html.twig') }}
    {{ include('admin/form/_form.html.twig', {'button_label': "edit"}) }}

    <a href="{{ path('admin') }}">back to list</a>

{% endblock %}  