{% block body %}
  
 <div class="modification" style="font-size : 2vh;padding :2VW">

                            {{ form_start(form_recipe) }}
                            {{ form_widget(form_recipe) }}
                            {{form_errors(form_recipe)}} 
                            <button class="btn"> Rechercher </button>
                            {{ form_end(form_recipe) }}       

{% endblock %}